@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* STYLE */

:root {
  --mdc-theme-primary: #00aa58;
  --mdc-theme-secondary: #bf0455;
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  padding: 8px;
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}

.mdc-top-app-bar {
  z-index: 7;
}

.mdc-list-item {
  padding-top: 8px;
  padding-bottom: 8px;
}

.mdc-list-item__text {
  margin-left: 16px;
}