<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="name"        content="Blokkok Wiki &bull; {{ page.title }}">
    <meta name="description" content="{{ page.excerpt }}">
    <meta name="keywords"    content="blokkok, blocks, block, blokk, blok, openblocks, wiki, {{ page.title }}">
    <meta name="theme-color" content="#00aa58">

    <meta property="og:title"       content="Blokkok Wiki &bull; {{ page.title }}">
    <meta property="og:url"         content="https://wiki.blokkok.ga">
    <meta property="og:description" content="{{ page.excerpt }}">

    <title>Blokkok Wiki &bull; {{ page.title }}</title>

    <link rel="icon" href="https://blokkok.ga/img/favicon.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">

    <link rel="stylesheet" href="/css/style.css">

    <script       src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script async src="https://arc.io/widget.min.js#9aZ6St8Q"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TLHE9301B9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-TLHE9301B9');
    </script>
  </head>
  <body>
    <header class="mdc-top-app-bar app-bar" id="app-bar">
      <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
          <span class="mdc-top-app-bar__title">Blokkok Wiki</span>
        </section>
      </div>
    </header>

    <aside class="mdc-drawer mdc-drawer--dismissible mdc-top-app-bar--fixed-adjust">
      <div class="mdc-drawer__header">
        <h3 class="mdc-drawer__title">Blokkok Wiki</h3>
        <h6 class="mdc-drawer__subtitle">{{ page.title }}</h6>
      </div>
      <div class="mdc-drawer__content">
        <div class="mdc-list-group">
          <div class="mdc-list">
            <a class="mdc-list-item {% if(page.title == 'Home') %}mdc-list-item--activated{% endif %}" href="/" aria-current="page">
              <span class="mdc-list-item__ripple"></span>
              <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
              <span class="mdc-list-item__text">Home</span>
            </a>
          </div>

          <div role="separator" class="mdc-list-divider"></div>

          <h3 class="mdc-list-group__subheader">Pages</h3>

          <div class="mdc-list">
            {% for pageL in site.pages %}
              {% if(pageL.title != 'Home') %}
                <a class="mdc-list-item {% if(pageL.title == page.title) %}mdc-list-item--activated{% endif %}" href="{{ pageL.url }}" aria-current="page">
                  <span class="mdc-list-item__ripple"></span>
                  <i class="material-icons mdc-list-item__graphic" aria-hidden="true">{{ pageL.icon }}</i>
                  <span class="mdc-list-item__text">{{ pageL.title }}</span>
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </aside>
  
    <div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
      <main class="main-content" id="main-content">
        {{ content }}
      </main>
    </div>

    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js"></script>
    <script type="module">
      const TweMoji = twemoji;

      TweMoji.parse(document.body);

      // Material Stuff

      const drawer = mdc.drawer.MDCDrawer.attachTo(document.querySelector('.mdc-drawer'));

      const topAppBar = mdc.topAppBar.MDCTopAppBar.attachTo(document.getElementById('app-bar'));
      topAppBar.setScrollTarget(document.getElementById('main-content'));
      topAppBar.listen('MDCTopAppBar:nav', () => {
        drawer.open = !drawer.open;
      });

      const list = mdc.list.MDCList.attachTo(document.querySelector('.mdc-list'));
      list.wrapFocus = true;

      mdc.ripple.MDCRipple.attachTo(document.querySelector('#sb'));
    </script>
  </body>
</html>