<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="name"        content="Blokkok Wiki &bull; {{ page.title }}">
    <meta name="description" content="{{ page.excerpt }}">
    <meta name="keywords"    content="blokkok, blocks, block, blokk, blok, openblocks, wiki, {{ page.title }}">
    <meta name="theme-color" content="#00aa58">

    <meta property="og:title"       content="Blokkok Wiki &bull; {{ page.title }}">
    <meta property="og:url"         content="https://wiki.blokkok.ga">
    <meta property="og:description" content="{{ page.excerpt }}">

    <title>Blokkok Wiki &bull; {{ page.title }}</title>

    <link rel="icon" href="https://blokkok.ga/img/favicon.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">

    <link rel="stylesheet" href="./css/style.css">

    <script       src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script async src="https://arc.io/widget.min.js#9aZ6St8Q"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TLHE9301B9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-TLHE9301B9');
    </script>
  </head>
  <body>
    <header class="mdc-top-app-bar">
      <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Open navigation menu">menu</button>
          <span class="mdc-top-app-bar__title">Blokkok Wiki</span>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
          <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" id="sb" aria-label="Search">search</button>
        </section>
      </div>
    </header>

    <main class="mdc-top-app-bar--fixed-adjust">
      <aside class="mdc-drawer">
        <div class="mdc-drawer__content">
          <nav class="mdc-list">
            {% for page in site.pages %}
              <a class="mdc-list-item mdc-list-item--activated" href="{{ page.url }}" aria-current="page">
                <span class="mdc-list-item__ripple"></span>
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">{{ page.icon }}</i>
                <span class="mdc-list-item__text">{{ page.title }}</span>
              </a>
            {% endfor %}
          </nav>
        </div>
      </aside>

      {{ content }}
    </main>

    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js"></script>
    <script>
      const TweMoji = twemoji;

      TweMoji.parse(document.body);

      // Material Stuff

      const list = MDCList.attachTo(document.querySelector('.mdc-list'));
      list.wrapFocus = true;

      mdc.ripple.MDCRipple.attachTo(document.querySelector('#sb'));
    </script>
  </body>
</html>